
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.theme-picker-dark {
  mask-image: url("/ic-theme-dark.png");
  mask-size: 40px 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 30px;
  cursor: pointer;
}
.theme-picker-light {
  mask-image: url("/ic-theme-light.svg");
  mask-size: 40px 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 30px;
  cursor: pointer;
}

button {
  padding: 5;
  background: blue;
  color: #fff;
}
